:root {

  /* Sistema de cores */
  --color-primary: #FF9332;
  --color-secondary: #1A005B;
  --color-text: #25416D;
  --color-page-background: #01010D;
  --color-danger: #c41316;

  /* Propriedades padrão dos modais */
  --modal-bg-color: #FFF;

  --modal-border-width: 3px;
  --modal-border-style: solid;
  --modal-border-color: var(--color-primary);

  --z-index-modal: 100;

  /* Valor padrão para border-radius */
  --default-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-page-background, black);
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

/* Estilo padrão modais */
.modal-header {
  display: flex;
  align-items: center;
}

.modal-header h2,
.modal-header i {
  font-size: 2rem;
}

.modal-header h2 {
  color: var(--color-secondary, darkblue);
}

/*FIM modais*/

/* ---------- Texto escondido (só leitor de tela lê) ---------- */
.sr-only {  /* Screen-reader only */
  position: absolute;     /* tira do fluxo normal */
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  /* esconde a visualização: */
  clip: rect(0, 0, 0, 0);     /* Suporte a navegadores legados */
  overflow: hidden;           /* Suporte a navegadores legados */
  clip-path: inset(50%);      /* Versão moderna */

  white-space: nowrap;      /* Impede que o leitor de tela soletre letra por letra pelo width de 1px */
}
/* FIM Screen-reader */